*{
  margin: 0;
  padding: 0;
}
img{
  border: 0;
}

ul,ol li{
  list-style: none;
}
a{
  color:#555; text-decoration:none;
}
body{
  background-color: #eee;
  color : #555555;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
}
.el-form-item.is-required .el-form-item__label:before{
  content: '*';
  color: #ff4949;
  margin-right: 4px;
}
